body {
    height: 100%;
    color: green;
    font-size: 12px;
    font-weight: 400;
}

#header {
    padding: 10px;
    border: 2px solid #cef6bf;
    background-color: #eef4ed;
    height: 120px;
    width: 100%;
}

#mapContainer {
    height: 100%;
    padding: 20px;
    border: 2px solid #CCC;
    margin-bottom: 20px;
    background-color: #FFF;
    display: table;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.myclass {
    display: table-row;
}

.sidebar {
    display: table-cell;
    float: none;
}

#map-canvas {
    display: table-cell;
    float: none;
}

#format {
    margin-top: 2em;
}

#search-field {
    color: black;
}

button {
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 100%;
    vertical-align: middle;
    border-radius: 25px;
    border-color: #088b08;
}

/*button.restaurant {
        background: url('../images/restaurant.png');
        background-position: left;
        background-repeat: no-repeat;
        background-color: #f0f6f6; 
    }

    button.school {
        background: url('../images/school.png');
        background-position: left;
        background-repeat: no-repeat;
        background-color: #f0f6f6;
    }

    button.shopping {
        background: url('../images/shoppingmall.png');
        background-position: left;
        background-repeat: no-repeat;
        background-color: #f0f6f6;
    }

    button.bar {
        background: url('../images/bar.png');
        background-position: left;
        background-repeat: no-repeat;
        background-color: #f0f6f6;
    }*/
