body {
    height: 100%;
    color: green;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.headerContainer {
    padding-left: 5px;
    padding-right: 5px;
}

#header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid #cef6bf;
    background-color: #eef4ed;
    height: 100px;
    width: 100%;
}

#mapContainer {
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid #CCC;
    background-color: #FFF;
    display: table;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#loc-list {
    padding-right: 5px;
    padding-left: 5px;
}

.sidebar {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
}

#map-canvas {
    float: none;
}

.filterField{
    color: black;
}

button {
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 100%;
    vertical-align: middle;
    border-radius: 25px;
    border-color: #088b08;
}